In this tutorial, we will be seeing the various data cleaning tasks using Python's Pandas library. We'll be focussing on the biggest data cleaning task i.e missing values. Let us see the various sources of missing values.

# Summary
1. Sources of Missing Values
2. Getting Started
3. Checking Missing Values

3.1 Standard Missing Values
3.2 Non-Standard Missing Values
3.3 Unexpected Missing Values
3.4 Summarizing Missing Values
4. Replacing Missing Values

4.1 Replacing missing values with either numbers or strings
4.2 Replacing missing values using median, mean or mode, ffill or backfill methods
4.3 Another way for checking and imputing missing values
4.3.1 Checking for Missing Values
4.3.2 Imputing Missing Values
5. Dropping rows containing missing values

6. Conversion of data types

6.1 Implicit conversion
6.2 Explicit conversion
7. Outlier Detection

7.1 What is an Outlier?
7.2 What are the types of Outliers??
7.3 How to detect Outliers?
7.4 Visualization of the features inorder to detect the outliers
7.5 Mathematically detecting Outliers using Inter-QuartileRange(IQR) and Z-Score
7.5.1 Z-Score
7.5.2 Inter-QuartileRange(IQR)
8. Creating dummy variables

9. One-Hot Encoding
10. Label Encoding
11. Scaling data to the Standard normal

# Sources of Missing values

Before we go deeper into the code , it is important to understand the sources of missing data. Some of the reasons why data is missing are:-

User forgot to fill in a field
Data was lost while transferring manually from a legacy database
There was a programming error
Users choose not to fill out a field to their beliefs about how the results would be used or interpreted

The missing data maybe due to random mistakes or they may be deeper reason why data is missing. We usually make use of statistical approach, inorder to deal with missing data.

# Getting Started
Before we start cleaning a dataset, it is a good idea to just get a general feel for the data. Later, we can put together a plan to clean the data.

Let's start questioning the data:- ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ?

What are the features?
What are the expected types(int,float,string,boolean)?
Is there obvious missing data(values that Pandas can detect)?
Is there other types of missing data that is not so obvious
We will try to understand these concepts with the help of a dataset. Here, we will be considering a "real estate dataset".

In [5]:
import pandas as pd
import numpy as np

In [6]:
# Reading csv file into pandas dataframe
data = pd.read_csv(r'C:\Users\Dell\Jupyter Notebook\Supervised Learning Practice\end to end data sets\property_data.csv')
# Reading first few rows
data.head()

           PID  ST_NUM    ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0   104.0     PUTNAM            Y            3        1  1000
1  100002000.0   197.0  LEXINGTON            N            3      1.5    --
2  100003000.0     NaN  LEXINGTON            N          NaN        1   850
3  100004000.0   201.0   BERKELEY           12            1      NaN   700
4          NaN   203.0   BERKELEY            Y            3        2  1600

You might observe that we are working with Pandas , but we have imported Numpy library as well. We will be using Numpy library as well later to rename some missing values. After importing libraries we have read the csv file which you can think of it as a spreadsheet. With the ".head()" method , we can easily see the first few rows.

Now let us focus on the original question: "What are my features?"

It is easy to infer the following features from the column names:

ST_NUM: Street number
ST_NAME: Street name
OWN_OCCUPIED: Is the residence owner occupied
NUM_BEDROOMS: Number of bedrooms
Let's us check the another question: "What are the expected types??"

ST_NUM: float or int... some sort of numeric type
ST_NAME: string
OWN_OCCUPIED: string...Y('Yes') or N('No')
NUM_BEDROOMS: float or int,a numeric type

# Standard Missing Values

What is meant by "Standard Missing Values"? These are missing values that Pandas can detect. Let us consider the property dataset which has missing values in it. Going back to our original dataset, we will look at the "Street Number" column.

In [8]:
data.isnull().sum()

PID             1
ST_NUM          2
ST_NAME         0
OWN_OCCUPIED    1
NUM_BEDROOMS    2
NUM_BATH        1
SQ_FT           1
dtype: int64

In [14]:
data.head(20)

           PID  ST_NUM     ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0   104.0      PUTNAM            Y            3        1  1000
1  100002000.0   197.0   LEXINGTON            N            3      1.5    --
2  100003000.0     NaN   LEXINGTON            N          NaN        1   850
3  100004000.0   201.0    BERKELEY           12            1      NaN   700
4          NaN   203.0    BERKELEY            Y            3        2  1600
5  100006000.0   207.0    BERKELEY            Y          NaN        1   800
6  100007000.0     NaN  WASHINGTON          NaN            2   HURLEY   950
7  100008000.0   213.0     TREMONT            Y            1        1   NaN
8  100009000.0   215.0     TREMONT            Y           na        2  1800

In the "ST_NUM" column we can see missing values in 3rd and 7th row. Let us see how Pandas deals with these.

In [15]:
# Looking at the "ST_NUM" col
#print("Street Number values\n\n",data['ST_NUM'])
print("\nEmpty values in Street Number col\n\n",data['ST_NUM'].isnull())

Empty values in Street Number col

 0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
8    False
Name: ST_NUM, dtype: bool

We can see that pandas filled the empty value with a 'NA'. Using the isnull() method, we can confirm that both the missing value and "NA" were recognized as missing values. Both boolean responses are "True". This is a simple example but highlights an important point. Pandas will recognize both empty cells and "NA" types as missing values.

# Non-Standard Missing Values

There might be the case where there are different formats of missing values. Let us look at column "Number_Bedrooms".

In [16]:
print(data['NUM_BEDROOMS'])

0      3
1      3
2    NaN
3      1
4      3
5    NaN
6      2
7      1
8     na
Name: NUM_BEDROOMS, dtype: object

In [19]:
data['NUM_BEDROOMS'].value_counts()

3     3
1     2
na    1
2     1
Name: NUM_BEDROOMS, dtype: int64